<h2><%= @podcast.title %></h2>
<h5>Category: <%= @podcast.category.name %></h5>
<p><%= @podcast.description %></p>
<% if @podcast.photo.attached? %>
  <p><%= cl_image_tag @podcast.photo.key %></p>
<% else %>
  <h1>No PHOTO here!</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for @podcast, :html =>  { :multipart => true } do |f| %>
          <%= f.input :photo, as: :file %>
      <% end %>
    </div>
  </div>
</div>
<% end %>


<%= link_to "Back", root_path %>
  <% if user_signed_in? %>
    <% if @podcast.user_id = current_user.id %>
      <%= link_to "Edit", edit_podcast_path(@podcast) %>
      <%= link_to "Delete", podcast_path(@podcast), method: :delete, data: { confirm: "Are you sure?"}  %>
    <% end %>
<% end %>
