<div class="row">
  <div class="col-md-4">
    <% if @podcast.photo.attached? %>
        <%= cl_image_tag @podcast.photo.key, class: "podcast-show" %>
    <% else %>
        <%= simple_form_for @podcast, :html =>  { :multipart => true } do |f| %>
          <%= f.input :photo, as: :file %>
          <%= f.submit :button %>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-8">
    <h2><%= @podcast.title %></h2>
    <h3><%= @podcast.author %> </h3>
    <p><%= @podcast.description %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= render @podcast.reviews %>
  </div>
</div>

<%= link_to "Add review", new_podcast_review_path(@podcast) %>
<%= link_to "Back", root_path %>
  <% if user_signed_in? %>
    <% if @podcast.user_id = current_user.id %>
      <%= link_to "Edit", edit_podcast_path(@podcast) %>
      <%= link_to "Delete", podcast_path(@podcast), method: :delete, data: { confirm: "Are you sure?"}  %>
    <% end %>
<% end %>
